EMUDESK.INF
depend
*.o
*.prg
DEGELITE.PRG
DEGELITE.RSC
images/bees16.ppm
images/bees.bmp
images/bees.pbm
images/bees.pnm
images/bees.ppm
images/bees.pi3
.gitcreds
.vscode/settings.json
mapfile
NEWDESK.INF
